/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/
	
#centre > #contenu {
		background-image: url(../images/choix_djun/background.png);
		background-repeat: no-repeat;
		height: 463px;
		width: 492px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
 		position:relative
	}
	
a.lien_fermer, a.lien_deconnexion {
	position:absolute;top:10px;
	display:inline-block;float:right;
	padding:0 5px 0 5px;
}

a.lien_fermer  {right:0px;}
	
a.lien_deconnexion {right:30px;}
a.lien_fermer img, a.lien_deconnexion img  {
	margin: 0;
	width:30px;height:auto;
}

	.titre {
		font-size: 32px;
		text-align: center;
		line-height:90px;
	}

	
.avatar_name_label {
		display: inline-block;
		font-size: 23px;
		margin: 0 0 0 30px;
	}

.avatar_name {
		background-color: transparent;
		border-width: 1px;
		border-color: #550000;
	}

p.explication_avatar {
	margin: 0.5em 0 0.3em 0;
	font-size:20px;text-align:center;
}

.contenu_avatar_navigation {width:100%;position:relative;}
.contenu_avatar_image {
		width: 200px;
		display: inline-block;float:left; margin:0 10px 0 10px;
	}
.contenu_avatar_image  input[type="image"]{
	width:100%;height:auto;
}
	
.image_prev, .image_next, .fenetre_bandeau {
		float:left;position:relative;display:inline-block;
  	}
  	
.image_prev, .image_next {
  		width: 40px;
  		height: 100px;
  		cursor:pointer;
  		margin:90px 30px 0 30px;
  	}

.fenetre_bandeau {
	padding:0;margin:1em 30px 1em 30px;border:1px solid #550000;width:220px;overflow:hidden;
}

#bandeau {width:1000%;position:relative;top:0;}

p.erreur_djun {font-size:30px;color:#dc5000;text-align:center;}

.bouton_action {width:20%;margin-left:40%;}
