/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/


  	#centre > #contenu {
		background-image: url(../images/menu_background_ouvert.png);
	}
.image {position:relative;width:100%;}
.image img {width:100%;height:auto;}
