	#centre > #contenu {
		position:relative;
		background-image: url(../images/djun/background.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-height: 600px;
		width: 800px;
    	margin: 38px auto;
	}

.titre {
		width:100%;
		text-align:center;
		padding: 35px 0 0 0;
		font-size: 35px;
	}
a.lien_fermer, a.lien_deconnexion {
	position:absolute;top:30px;
	display:inline-block;float:right;
	padding:0 10px 0 10px;;
}
a.lien_fermer  {right:30px;}
a.lien_deconnexion {right:70px;}
a.lien_fermer img, a.lien_deconnexion img  {
	margin: 0;
	width:36px;height:auto;
}	

.des {
	width:100%;
	padding:2em 2em 1em 2em;
	font-size: 25px;
	}

