.panneau_village, .cadre_village_contenu {
  		height: 180px;
		width: 860px;
		margin: 5px 0px 0px 80px;
	}
.panneau_village  {
  		background-image: url(../images/jeu/village/background.png);
  		background-repeat: no-repeat;
	}

.cadre_village, .cadre_data {float:left;}
.cadre_village {
  		background-image: url(../images/jeu/village/cadre_village.png);
  		background-repeat: no-repeat;
  		background-size: 100% 100%;
		width:140px;
		height:140px;
  		position: relative;
  		top: 20px;
		left: 20px;
}

.cadre_village img {display:inline-block;position:relative;width:92%;height:auto;top:4%;left:4%;}

.cadre_data {position:relative;height:90%;top:5%;left:50px;width:650px;}
.cadre_data p {text-align:center;font-size:28px;margin:0;}
.cadre_data div {width:100%;}
.cadre_data span.mana  {display:inline-block;width:29%;margin:0 0.5% 0 0;}
.cadre_data span.mana img {position:relative;top:10px;width:22%;height:auto;margin:0 1em 0 0;}
.cadre_data span.population  {display:inline-block;width:29%;margin:0 0.5% 0 0;}
.cadre_data span.population img {position:relative;top:5px;width:33%;height:auto;margin:0 1em 0 0;}
.cadre_data span.naissances  {display:inline-block;width:29%;margin:0 0.5% 0 0;}
.cadre_data span.naissances img {position:relative;top:10px;width:33%;height:auto;margin:0;}

a.lien_village_liste, a.lien_village_vente {display:inline-block;position:absolute;}
a.lien_village_liste {top:5px;left:5px;width:40px;height:40px;}
a.lien_village_vente {top:-15px;right:-15px;width:40px;height:40px;}
a.lien_village_liste img {width:100%;height:auto;}
a.lien_village_vente img {width:100%;height:auto;}

.cadre_data >div > div.village_props  {width:10%;float:left;}
.village_props img {width:80%;height:auto;margin:5px 19% 0 0;}
.cadre_data >div > div.village_props p {
	text-align:left;font-size:16px;line-height:0;
}

a.bouton_choix {display:block;width:100%;text-align:center;padding:0.5em 0 0.5em 0;background-color:rgba(75,0,0,0.6);color:#ffb922;font-size:28px;margin:0.5em 0 0 0;}
