#centre > #contenu {
		background-image: url(../images/menu_background_ouvert.png);
	}

  .galerie {
    width: 700px;
    height: 650px;
    margin-left: auto;
     margin-right: auto;
     margin-top: 24px;
     text-align: center;
     padding: 0 0 0 10px;
  }

  .galerie a {
    height: 150px;
    width: 150px;
    padding: 0 14px 0 0;
  }






