#centre > #contenu {
		background-image: url(../images/choix_djun/background.png);
		background-repeat: no-repeat;
		min-height: 470px;
		width: 550px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 30px;
 		position:relative;
	}
	
a.lien_fermer, a.lien_deconnexion {
	position:absolute;top:15px;
	display:inline-block;float:right;
	padding:0;
}

a.lien_fermer  {right:10px;}
	
a.lien_deconnexion {right:50px;}

a.lien_fermer img, a.lien_deconnexion img  {
	margin: 0;
	width:34px;height:auto;
}

.titre {
		font-size: 30px;
		text-align: center;
		line-height:90px;
	}

.texte_suppression_djun {font-size:25px;text-align:center;}

.bouton_action {
		background-image:url("../images/connexion_inscription/btn_contour.png");
		background-repeat: no-repeat;
		background-size: 90% 90%;
		background-position: center center;
		display: block; 
		width:20%;margin: 0.3em auto 0.5em auto;
		padding: 10px;
		font-size:30px;
		text-align:center;
		color:#660000;
	}

