/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/
  	
	#centre > #contenu {
		background-image: url(../images/menu_background.png);
		background-position:center top;
		background-size: 100% 12%;
	}

	.lien_inscription {
		display: inline-block;
		margin: 116px 0 0 382px;
	}
	
  	.lien_connexion {
		display: inline-block;
		margin: 0px 0 0 56px;
	}
	
	a.newsletter {
		display:block;
		text-align:center;
		font-size: 26px;
		color: #330000;
		margin: 118px 0 0 0;
		text-decoration: none;
	}
	
	.newsletter:hover {
		text-decoration:underline;
	}

	p.presentation {
		text-align:center;
		font-size: 26px;
		color: #330000;
		margin: 16px 0 0 0;
	}

	p > a {
		display:block;
		text-align:center;
		font-size: 26px;
		color: #330000;
		text-decoration: none;
	}
	
	p > a:hover {
		text-decoration:underline;
	}

	object {
		margin: 140px 0 0 422px;
	}
	
	.contact {
		display:block;
		text-align:center;
		font-size: 24px;
		color: #d59c4f;
		text-decoration: none;
		margin: 200px 0 0 0;
	}

