/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/
	
#centre > #contenu {
		background-image: url(../images/choix_peuple/background.png);
		background-repeat: no-repeat;
		height: 668px;
		width: 800px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 30px;
 		position:relative
	}
	
a.lien_fermer, a.lien_deconnexion {
	position:absolute;top:10px;
	display:inline-block;float:right;
	padding:0 10px 0 10px;;
}

a.lien_fermer  {right:0px;}
	
a.lien_deconnexion {right:40px;}
a.lien_fermer img, a.lien_deconnexion img  {
	margin: 0;
	width:36px;height:auto;
}

.titre {
		font-size: 32px;
		text-align: center;
		line-height:90px;
	}

form {
	margin:10px 0 0 3%;width:94%;
}

.choix_race {
	float:left;
	cursor:pointer;
	width:50%;height:auto;
}


