/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/

#centre > #contenu {
		background-image: url(../images/tdb/background.png);
		background-repeat: no-repeat;
		height: 600px;
		width: 797px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
 		position:relative;
	}
	
a.lien_fermer, a.lien_deconnexion {
	position:absolute;top:0px;
	display:inline-block;float:right;
	padding:0 10px 0 10px;
}

a.lien_fermer  {right:20px;}
	
a.lien_deconnexion {right:60px;}

a.lien_compte {
	position:absolute;top:20px;left:30px;
}
a.lien_compte img{
	width:70px;height:auto;
}

a.lien_fermer img, a.lien_deconnexion img  {
	margin: 0;
	width:36px;height:auto;
}

	.titre {
		font-size: 30px;
		text-align: center;
		line-height:116px;
	}

	.djun {
		position: relative;
		background-image: url(../images/tdb/cadre_djun.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		float: left;
		height: 200px;
		width: 200px;
		margin: 70px 0 0 50px;
	}

.djun > a img {
		height: auto;
		width: 110px;
		position: relative;
	}

p.choix, .djun > a {
	display:block;
	font-size:26px;
	text-align:center;
	color:#550000;
}
.djun > a.marges {margin: 0.8em 0 0.8em 0;}
p.choix {margin: 0.8em 0 0.2em 0;}